Predicting Estimated Salary(continous/Numerical Feature)

In [14]:
import numpy as np 
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
import pickle

In [15]:
data = pd.read_csv("Churn_Modelling.csv")

In [16]:
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [18]:
#preprocessing the data
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [19]:
#label encoder for gender
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

In [20]:
#OHE geography col
onehot_encoder_geo=OneHotEncoder(handle_unknown='ignore')
geo_encoded=onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [21]:
#concatenate geo with df
data = pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [22]:
#split data into independent and dependent features(target)
X = data.drop('EstimatedSalary',axis=1)
y = data['EstimatedSalary']

In [23]:
#split data into train test sets
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [24]:
#standard scaler
scaler = StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [25]:
#save the pckl files(label,ohe,scaled)
with open('label_encoder_gender.pkl','wb') as f:
    pickle.dump(label_encoder_gender,f)
with open('onehot_encoder_geo.pkl','wb') as f:
    pickle.dump(onehot_encoder_geo,f)
with open('scaler.pkl','wb') as f:
    pickle.dump(scaler,f)

Train ANN with Regression Problem Statement

In [26]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [29]:
#Build the model
model = Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), #HL1
    Dense(32,activation='relu'), #HL2
    Dense(1) #op layer default activation is linear(specific to regression)
])

#Compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

WARNING:tensorflow:From c:\Users\hp\Desktop\DL using ANN\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 64)                832

 dense_5 (Dense)             (None, 32)                2080

 dense_6 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [34]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

#set up tensorboard callback
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [35]:
#set up early stopping callback
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [36]:
#Train the model
history = model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[early_stopping_callback,tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\hp\Desktop\DL using ANN\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\hp\Desktop\DL using ANN\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 3s 4ms/step - loss: 100367.9609 - mae: 100367.9609 - val_loss: 98483.7812 - val_mae: 98483.7812
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 99524.8672 - mae: 99524.8672 - val_loss: 96801.4531 - val_mae: 96801.4531
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 96629.5625 - mae: 96629.5625 - val_loss: 92586.6797 - val_mae: 92586.6797
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 91010.1562 - mae: 91010.1562 - val_loss: 85645.0938 - val_mae: 85645.0938
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 82941.2422 - mae: 82941.2422 - val_loss: 76799.3359 - val_mae: 76799.3359
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 73620.4766 - mae: 73620.4766 - val_loss: 67816.4609 - val_mae: 67816.4609
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 64824.3359 - mae: 64824.3359 - val_loss: 60166.0156 - val_mae: 60166.0156
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 58004.2695 - mae: 58004.2695 - val_loss: 54963.2812 - val_mae: 54963.2812
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 53781.8320 - mae: 53781.8320 - val_loss: 52154.6602 - val_mae: 52154.6602
Epoch 10/100
250/250 [==============================] - 1s 2ms/step - loss: 51590.9766 - mae: 51590.9766 - val_loss: 51136.2188 - val_mae: 51136.2188
Epoch 11/100
250/250 [==============================] - 1s 2ms/step - loss: 50742.8867 - mae: 50742.8867 - val_loss: 50835.6641 - val_mae: 50835.6641
Epoch 12/100
250/250 [==============================] - 1s 2ms/step - loss: 50443.1445 - mae: 50443.1445 - val_loss: 50743.9883 - val_mae: 50743.9883
Epoch 13/100
250/250 [==============================] - 1s 2ms/step - loss: 50305.1641 - mae: 50305.1641 - val_loss: 50690.8828 - val_mae: 50690.8828
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 50219.5977 - mae: 50219.5977 - val_loss: 50643.3398 - val_mae: 50643.3398
Epoch 15/100
250/250 [==============================] - 1s 2ms/step - loss: 50154.9375 - mae: 50154.9375 - val_loss: 50605.6133 - val_mae: 50605.6133
Epoch 16/100
250/250 [==============================] - 1s 2ms/step - loss: 50102.2656 - mae: 50102.2656 - val_loss: 50575.7930 - val_mae: 50575.7930
Epoch 17/100
250/250 [==============================] - 1s 2ms/step - loss: 50049.5352 - mae: 50049.5352 - val_loss: 50538.6992 - val_mae: 50538.6992
Epoch 18/100
250/250 [==============================] - 1s 2ms/step - loss: 50003.8984 - mae: 50003.8984 - val_loss: 50510.6172 - val_mae: 50510.6172
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 49962.0859 - mae: 49962.0859 - val_loss: 50488.3008 - val_mae: 50488.3008
Epoch 20/100
250/250 [==============================] - 1s 2ms/step - loss: 49924.3281 - mae: 49924.3281 - val_loss: 50458.6875 - val_mae: 50458.6875
Epoch 21/100
250/250 [==============================] - 1s 2ms/step - loss: 49891.4688 - mae: 49891.4688 - val_loss: 50437.6367 - val_mae: 50437.6367
Epoch 22/100
250/250 [==============================] - 1s 2ms/step - loss: 49863.2266 - mae: 49863.2266 - val_loss: 50424.8906 - val_mae: 50424.8906
Epoch 23/100
250/250 [==============================] - 1s 2ms/step - loss: 49834.8281 - mae: 49834.8281 - val_loss: 50414.7344 - val_mae: 50414.7344
Epoch 24/100
250/250 [==============================] - 1s 2ms/step - loss: 49811.2109 - mae: 49811.2109 - val_loss: 50396.4609 - val_mae: 50396.4609
Epoch 25/100
250/250 [==============================] - 1s 2ms/step - loss: 49785.5859 - mae: 49785.5859 - val_loss: 50385.8203 - val_mae: 50385.8203
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 49763.1836 - mae: 49763.1836 - val_loss: 50379.1133 - val_mae: 50379.1133
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 49747.2539 - mae: 49747.2539 - val_loss: 50356.5859 - val_mae: 50356.5859
Epoch 28/100
250/250 [==============================] - 2s 8ms/step - loss: 49728.4492 - mae: 49728.4492 - val_loss: 50345.5938 - val_mae: 50345.5938
Epoch 29/100
250/250 [==============================] - 1s 5ms/step - loss: 49709.9609 - mae: 49709.9609 - val_loss: 50340.0742 - val_mae: 50340.0742
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 49694.0938 - mae: 49694.0938 - val_loss: 50337.9023 - val_mae: 50337.9023
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 49675.5625 - mae: 49675.5625 - val_loss: 50325.0977 - val_mae: 50325.0977
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 49662.5195 - mae: 49662.5195 - val_loss: 50320.4961 - val_mae: 50320.4961
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 49650.4531 - mae: 49650.4531 - val_loss: 50310.4727 - val_mae: 50310.4727
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 49634.0742 - mae: 49634.0742 - val_loss: 50295.4531 - val_mae: 50295.4531
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 49619.2305 - mae: 49619.2305 - val_loss: 50301.4258 - val_mae: 50301.4258
Epoch 36/100
250/250 [==============================] - 2s 8ms/step - loss: 49611.6172 - mae: 49611.6172 - val_loss: 50290.0977 - val_mae: 50290.0977
Epoch 37/100
250/250 [==============================] - 2s 10ms/step - loss: 49604.2461 - mae: 49604.2461 - val_loss: 50289.9531 - val_mae: 50289.9531
Epoch 38/100
250/250 [==============================] - 2s 9ms/step - loss: 49592.7070 - mae: 49592.7070 - val_loss: 50292.1914 - val_mae: 50292.1914
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 49582.9062 - mae: 49582.9062 - val_loss: 50289.5742 - val_mae: 50289.5742
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 49571.7266 - mae: 49571.7266 - val_loss: 50291.1758 - val_mae: 50291.1758
Epoch 41/100
250/250 [==============================] - 2s 9ms/step - loss: 49561.6133 - mae: 49561.6133 - val_loss: 50282.8555 - val_mae: 50282.8555
Epoch 42/100
250/250 [==============================] - 3s 10ms/step - loss: 49550.7930 - mae: 49550.7930 - val_loss: 50282.0742 - val_mae: 50282.0742
Epoch 43/100
250/250 [==============================] - 2s 7ms/step - loss: 49547.6055 - mae: 49547.6055 - val_loss: 50285.9414 - val_mae: 50285.9414
Epoch 44/100
250/250 [==============================] - 1s 2ms/step - loss: 49536.4844 - mae: 49536.4844 - val_loss: 50280.3398 - val_mae: 50280.3398
Epoch 45/100
250/250 [==============================] - 1s 2ms/step - loss: 49530.1914 - mae: 49530.1914 - val_loss: 50279.7617 - val_mae: 50279.7617
Epoch 46/100
250/250 [==============================] - 1s 2ms/step - loss: 49524.6406 - mae: 49524.6406 - val_loss: 50271.1445 - val_mae: 50271.1445
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 49515.1992 - mae: 49515.1992 - val_loss: 50265.7539 - val_mae: 50265.7539
Epoch 48/100
250/250 [==============================] - 1s 2ms/step - loss: 49508.9102 - mae: 49508.9102 - val_loss: 50266.7070 - val_mae: 50266.7070
Epoch 49/100
250/250 [==============================] - 1s 2ms/step - loss: 49505.9727 - mae: 49505.9727 - val_loss: 50267.6914 - val_mae: 50267.6914
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 49499.1250 - mae: 49499.1250 - val_loss: 50272.1016 - val_mae: 50272.1016
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 49490.6719 - mae: 49490.6719 - val_loss: 50261.1445 - val_mae: 50261.1445
Epoch 52/100
250/250 [==============================] - 1s 2ms/step - loss: 49485.3633 - mae: 49485.3633 - val_loss: 50271.9141 - val_mae: 50271.9141
Epoch 53/100
250/250 [==============================] - 1s 2ms/step - loss: 49480.0742 - mae: 49480.0742 - val_loss: 50272.4609 - val_mae: 50272.4609
Epoch 54/100
250/250 [==============================] - 1s 2ms/step - loss: 49473.3398 - mae: 49473.3398 - val_loss: 50272.0312 - val_mae: 50272.0312
Epoch 55/100
250/250 [==============================] - 1s 2ms/step - loss: 49468.7734 - mae: 49468.7734 - val_loss: 50274.4883 - val_mae: 50274.4883
Epoch 56/100
250/250 [==============================] - 1s 2ms/step - loss: 49461.7305 - mae: 49461.7305 - val_loss: 50274.6836 - val_mae: 50274.6836
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 49457.5977 - mae: 49457.5977 - val_loss: 50269.2266 - val_mae: 50269.2266
Epoch 58/100
250/250 [==============================] - 1s 2ms/step - loss: 49452.4727 - mae: 49452.4727 - val_loss: 50275.9805 - val_mae: 50275.9805
Epoch 59/100
250/250 [==============================] - 1s 2ms/step - loss: 49446.7852 - mae: 49446.7852 - val_loss: 50271.9883 - val_mae: 50271.9883
Epoch 60/100
250/250 [==============================] - 1s 2ms/step - loss: 49439.8750 - mae: 49439.8750 - val_loss: 50279.5430 - val_mae: 50279.5430
Epoch 61/100
250/250 [==============================] - 1s 2ms/step - loss: 49435.5781 - mae: 49435.5781 - val_loss: 50282.2656 - val_mae: 50282.2656

In [37]:
%load_ext tensorboard

In [40]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6007 (pid 15696), started 0:00:13 ago. (Use '!kill 15696' to kill it.)

In [41]:
#Evaluate the model for test data 
test_loss,test_mae = model.evaluate(X_test,y_test)
print(f"Test Loss: {test_loss}")
print(f"Test MAE: {test_mae}")

63/63 [==============================] - 0s 1ms/step - loss: 50261.1445 - mae: 50261.1445
Test Loss: 50261.14453125
Test MAE: 50261.14453125

In [42]:
model.save('regression_model.h5')

c:\Users\hp\Desktop\DL using ANN\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(